
!*.sha256
# Archives (keep only .tar.gz sha256)
# Build artifacts
# IDE files
# OS files
# Temporary files
*.a
*.bak
*.egg-info/
*.iml
*.log
*.o
*.pyc
*.so
*.swo
*.swp
*.tar.gz
*.tmp
*.zip
*~
.DS_Store
.idea/
.local/
.pytest_cache/
.vscode/
__pycache__/
build/
dist/
Thumbs.db
!dist/c1.zip
